body{
  background-color: hsl(185, 75%, 39%);
}
h2{
  color: hsl(229, 23%, 23%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 18px;
  font-weight: 700;
}
h3{
  color: hsl(0, 0%, 59%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
}
h4{
  color: hsl(0, 0%, 59%);
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 12px;
  font-weight: 400;
}
span{
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.bg-top{
  position:fixed;
  top: -570px;
  left: -310px;
}

.bg-bottom{
  text-align: right;
  position:fixed;
  right: -270px;
  bottom: -670px;
}

.card{
  text-align: center;
  position: fixed;
  z-index: 1;
  background-color: white;
  left: 500px;
  top: 130px;
  border-radius: 25px;
  height: 380px;
}
.top-card{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}
.top-card-image{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.profile-image{
  border-radius: 50%;
  position:relative;
  z-index: 1;
  bottom: 60px;
  border-style: solid;
  border-width: 6px;
  border-color: white;
}
.title{
  position:relative;
  bottom:55px;
}
hr{
  position:relative;
  bottom:45px;
  border-top: hsl(0, 0%, 59%);

}
.list{
  position:relative;
  bottom:50px;
}
.item1{
  position:absolute;
  left:0px;
  right:200px;
}
.item2{
  position:absolute;
  left:150px;
}
.item3{
  position:absolute;
  right:60px;
}
